@using PeopleSearch.Models.ViewModels
@model SearchViewModel
@{
    ViewBag.Title = "People Search";
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="~/Scripts/searchController.js"></script>
}
<div ng-app="searchApp">
    <div ng-controller="searchController">

        <h2>@ViewBag.Title</h2>
        
        <div class="row">
            <div class="col-md-8">
                <form name="searchForm" class="form-horizontal" ng-submit="searchName(inputName)">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="search" required placeholder="Name to find" class="form-control" ng-model="inputName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>        
                </form>
            </div>
        </div>

        <div class="row" ng-show="error">
            {{ error }}
        </div>

        <div class="row top-buffer" ng-show="results" ng-repeat="result in results">
            <div class="col-md-3">
                <img height="200" width="200" ng-src="~/Images/{{result.Picture}}"/>
            </div>
            <div class="col-md-4">
                <h2>{{ result.FirstName }} {{ result.LastName }}</h2>
                <p><b>Age:</b> {{result.Age}}</p>
                <p><b>Interests:</b> {{result.Interests}}</p>
                <p><b>Address:</b> {{result.Address.Address1}}, {{result.Address.City}}, {{result.Address.State}}, {{result.Address.Zip}}</p>
            </div>
        </div>

    </div>
</div>
