@using PeopleSearch.Models.ViewModels
@model SearchViewModel
@{
    ViewBag.Title = "People Search";
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="~/Scripts/searchController.js"></script>
}
<div ng-app="searchApp">
    <div ng-controller="searchController as ctrl">

        <h2>@ViewBag.Title</h2>
        
        <div class="row">
            <div class="col-md-6">
                <form name="searchForm" class="form-horizontal" ng-submit="ctrl.searchName(ctrl.inputName)">
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="search" required placeholder="Name to find" class="form-control" ng-model="ctrl.inputName" />
                            <p><i>Hints for testing: mi, peter</i></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Search" ng-disabled="ctrl.loading" class="btn btn-default" />
                            <img id="spinner" ng-src="~/Images/spinner.gif" ng-show="ctrl.loading" height="50" width="50">
                        </div>
                    </div>        
                </form>
            </div>
            <div class="col-md-6">
                <p><b>Note to tester</b></p>
                <p>Asp.Net version: MVC 5</p>
                <p>DB: EntityFramework Code First</p>
                <p>Unit testing: XUnit</p>
                <p>Mocks: Moq</p>
                <p>Dependency Injection: Ninject</p>
                <p>Client Side: AngularJS</p>
                <p>Hints for testing: mi, peter</p>
            </div>            
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row top-buffer" ng-show="ctrl.noresults">
            {{ ctrl.noresults }}
        </div>

        <div class="row top-buffer" ng-show="ctrl.error">
            {{ ctrl.error }}
        </div>
        <div class="row top-buffer" ng-repeat="result in ctrl.results">
            <div class="col-md-3">
                <img height="200" width="200" ng-src="~/Images/{{result.Picture}}"/>
            </div>
            <div class="col-md-4">
                <h2>{{ result.FirstName }} {{ result.LastName }}</h2>
                <p><b>Age:</b> {{result.Age}}</p>
                <p><b>Interests:</b> {{result.Interests}}</p>
                <p><b>Address:</b> {{result.Address.Address1}}, {{result.Address.City}}, {{result.Address.State}}, {{result.Address.Zip}}</p>
            </div>
        </div>

    </div>
</div>
